body{
margin:0;
font-family:Arial;
background:#f1f5f9;
}

.login{
max-width:350px;
margin:120px auto;
background:white;
padding:30px;
border-radius:12px;
text-align:center;
box-shadow:0 10px 30px rgba(0,0,0,.15);
}

.login input, .login button{
width:100%;
padding:12px;
margin-top:10px;
border-radius:6px;
border:1px solid #ccc;
}

.login button{
background:#2563eb;
color:white;
border:none;
}

.dashboard{
display:none;
}

aside{
width:220px;
background:#1e3a8a;
color:white;
height:100vh;
padding:20px;
float:left;
}

aside button{
width:100%;
padding:12px;
margin-top:10px;
border:none;
border-radius:6px;
background:#facc15;
cursor:pointer;
}

main{
margin-left:220px;
padding:30px;
}

.box{
background:white;
padding:20px;
border-radius:12px;
box-shadow:0 10px 25px rgba(0,0,0,.1);
display:none;
}

.box input, .box select, .box button{
width:100%;
padding:10px;
margin-top:10px;
border-radius:6px;
border:1px solid #ccc;
}

.box button{
background:#2563eb;
color:white;
border:none;
}

.item{
background:#f8fafc;
padding:10px;
border-radius:8px;
margin-top:10px;
display:flex;
justify-content:space-between;
align-items:center;
}
